#img-bg{
    background-image: url('https://images.pexels.com/photos/7191989/pexels-photo-7191989.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');

    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}